rasa==2.2.9
rasa-sdk==2.2.0
deepspeech==0.7.4
gtts==2.2.3
google-api-python-client==1.12.8
google-auth==1.21.3
google-auth-oauthlib==0.4.1
google-auth-httplib2==0.0.3
sounddevice==0.4.0
scipy==1.4.1
wavio==0.0.4
requests==2.25.1
absl-py==0.10.0
simpleaudio==1.0.4
numpy==1.17.3
pandas==1.1.5
aiohttp==3.6.3
chardet==3.0.4
multidict==4.7.6
protobuf==3.19.5
google-api-core==1.25.0
decorator==4.4.2