/* src/components/DietPlan/DietPlan.css */

.diet-plan {
    padding: 20px;
  }
  
  .diet-plan h2 {
    color: #900000;
  }
  
  .diet-plan ul {
    list-style: none;
    padding: 0;
  }
  
  .diet-plan li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  