/* src/components/TopToolbar/TopToolbar.css */

.top-toolbar {
    background-color: #600000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .toolbar-right button {
    margin-left: 10px;
    background: #900000;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  .toolbar-right button:hover {
    background: #700000;
  }
  